// Colors
$color_brown: #504a3c;
$color_yellow: #f6c376;
$color_green: #51b2af;
$color_hoverGreen: #51b2af;
$color_disabledGreen: #448d8b;
$color_cream: #f4ece1;
$color_navbar: #4c4c4c;
$color_dark: #333333;
$color_highlight: #fac721ef;

$color_error: #fa2121;
$color_success: #2ffa21;

// Sizes
$size1: 10px;

$border_radius: 15px;
$section_padding: 20px;

//Media Queries
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;
$tablet: 768px;
$laptop: 1024px;
