@import "../../styles/variables";

.cardMenuRes {
  max-width: 390px;
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0px auto 20px;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  .content-div {
    padding: 10px 0px 5px 5px;
    max-width: 185px;
    width: 100%;
    h2 {
      margin-bottom: 5px;
      margin-top: 0px;
      text-align: left;
      font-size: 16px;
      line-height: 13.1px;
    }
    h3 {
      margin: 5px auto;
      font-size: 18px;
    }
    p {
      font-size: 12px;
      margin-bottom: 0px;
      line-height: 14px;
    }
  }

  .div-description {
    text-align: left;
    .ulStars {
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      .star {
        font-size: 17.3px;
        letter-spacing: 0rem;
        color: goldenrod;
        line-height: 12px;
      }
    }
  }
  .div-img img {
    width: 120px;
    height: 120px;
    display: block;
  }
}
@media (max-width: 480px) {
  .restaurant-section .infoRestaurant{
    max-width: 356px;
  }
  .cardMenu .content-div h2{
    font-size: 13.5px;
    line-height: 13px;
  }
  .cardMenu .div-img img{
    width: 107px;
  }
}