@import '../../styles/variables';
@import '../../components/CustomButton/style';

.register-user {
  background: url(https://iili.io/7XpyPf.md.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $section_padding;

  .form-user {
    background-color: $color_cream;
    border-radius: $border_radius;
    color: #4c4c4c;
    width: 100%;
    max-width: 450px;
    padding: 40px 20px;

    .form-control {
      border: 1px solid $color_brown;
    }

    .form-label {
      display: flex;
    }

    .Reg-button {
      font-size: 20px;
      background: $color_green;
      border-radius: 10px;
      border: none;
      &:hover {
        cursor: pointer;
        background: #337aff;
      }
    }

    hr {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}
