@import "../../styles/variables";

.default-button {
  border: none;
  width: 100%;
  max-width: 150px;
  height: 50px;
  background: $color_green;
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

.fit-content-button {
  border: none;
  height: fit-content;
  background: $color_green;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: $color_cream;
  }
  &.margin-top {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.full-button {
  height: fit-content;
  max-width: calc(100% - 20px);
  width: 100%;
  margin: 0 auto;
  background: $color_green;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease;
  &:hover {
    background: $color_hoverGreen;
    color: $color_cream;
  }
}

.margin {
  border: none;
  margin-bottom: 20px;
}
