@import "../../styles/variables";

.page-container {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  background: url(https://iili.io/7XpyPf.md.png);
  background-size: cover;
  background-position: center;
  .container-fluid {
  }
}
