@import "../../styles/variables";

.cardMenu {
    max-width: 390px;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0px auto 20px;
    border-radius: 10px;
    overflow-x: hidden;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    .content-div {
      padding: 10px 0px 5px 5px;
      max-width: 185px;
      width: 100%;
      h2 {
        margin-bottom: 5px;
        margin-top: 0px;
        text-align: left;
        font-size: 20px;
      }
      h3 {
        margin: 5px auto;
        font-size: 18px;
      }
      p {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 14px;
      }
     
     
    }
    .divBtn {
      margin: auto 0;
      padding: 0px 6px;

      .btnPlus {
        
        background-color: #FFFFFF;
        fill: $color_green;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 28px;
        text-decoration: none;
        line-height: 36px
      }
    }

    .div-description {
      text-align: left;
    }
    .div-img img {
      width: 120px;
	    height: 120px;
	    object-fit: none;
      display: block;
    }
  }