@import '../../styles/variables';

.form-restaurant {
    background-color: $color_cream;
    outline: 1px solid $color_brown;
    border-radius: $border_radius;
    width: 100%;
    padding: 40px 15px;
    color: #4C4C4C;
   
    h2{
      text-align: left;
      font-size: 15px;
    }
    h3{
      text-align: left;
      font-size: 20px;
      margin-bottom: 25.5px;
    }
    h4{
      text-align: left;
      font-size: 24px;
      margin-bottom: 20px;
    }
    h5{
      text-align: left;
      font-size: 16px;
      margin-bottom: 9px;
    }

    .form-control{
      border:1px solid #4C4C4C;
    }
      
    .form-label{
      display: flex;
      font-size: 12.3px;
    }

    .Reg-button {
      font-size: 20px;
      background: $color_green;
      border-radius: 10px;
      border: none;
      max-width: none;
      &:hover {
        cursor: pointer;
        background: #337aff;
      }
    }

  .Reg-button {
    font-size: 20px;
    background: $color_green;
    border-radius: 10px;
    border: none;
    &:hover {
      cursor: pointer;
      background: #337aff;
    }
    .show {
      background-color: none!important;
    }
  }

  hr {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
