/* Navbar */


/* Banner */


/* Grid */
.restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4ECE1;
    color: #4C4C4C;
    
    
}
.restaurant{
    max-width: 300px;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0px;
    margin: 10px ;
    border-radius: 10px;
    overflow-x: hidden;
}
 .restaurant h3{
    font-size: 32px;
    line-height: 32px;
    margin: 0 auto;
    color: #4C4C4C;
}
.div-img img{
    width: 100%;
}
.div-content{
    padding: 20px 15px;
}
.div-content p{
    font-size: 14.9px;
    margin: 8px 0px;
}
.divBtn{
    text-align: center;
    padding: 5px 0px;
}
.divBtn .btnClass{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: #51B2AF;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
}
.divUlType{
    display: flex;
    justify-content: space-between;
}
.ulStars{
    list-style: none;
    padding-left: 0px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    
    
}
.ulStars li{
    display: inline;
}
.star{
    width: 17.4px;
    margin-right: 1px;
    
}


/* Footer */

