@import '../../styles/variables';

.register-option {
  max-width: 200px;
  width: 100%;

  padding: 40px 20px;
  border-radius: 10px;
  background: rgba($color_cream, 0.7);
  box-shadow: 0.3em 0.3em 1em rgba($color_brown, 0.5);

  .register-img {
    max-width: 200px;
    border-radius: 10px;
  }
  .register-description {
    margin-bottom: 60px;
  }
}

.card {
  box-shadow: 0.3em 0.3em 1em rgba($color_brown, 0.5);

  .card-body {
    .card-title {
      color: $color_brown;
      margin-bottom: 45px;
    }
  }
}
