@import "../../styles/variables";

.banner {
  z-index: 0;
  // background-size: cover;
  // background-position: center;
  width: calc(90% - 40px);
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $color_brown;
  .banner-carousel-container {
    border-radius: 10px;

    .carousel-inner {
      .banner-img {
        filter: blur(3px);
        transition: all 0.2s ease;
      }
      .carousel-item {
        .carousel-caption {
          color: $color_cream;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(black,.3);
          border-radius:10px;

          .carousel-title {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0;
          }
          .carousel-description {
            font-size: 1em;
            margin: 0;
          }
          a {
            width: 200px;
            height: fit-content;
            margin: 10px 0 0 0;
            font-size: 0.75em;
            padding: 10px;
            background: $color_green;
            border-radius: 5px;
            color: $color_cream;
            text-decoration: none;
            transition: all 0.5s ease;
            &:hover {
              background: rgba($color_green, 0.85);
            }
          }
        }
      }
    }
    &:hover {
      .carousel-inner {
        .banner-img {
          filter: blur(3px) grayscale(20%);
        }
      }
    }
  }
}
