@import "../../styles/variables";

body {
  margin: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  &.light {
    background-color: $color_yellow;
  }
  &.dark {
    background-color: $color_dark;
    img {
      width: 70px;
    }
  }
  .logo-link {
    margin-left: 0px;
    cursor: pointer;
  }
  .navbar-expand-md .navbar-collapse {
    margin-right: 30px;
  }
  .navbar-toggler {
    margin: 15px;
  }
  .buttonTheme {
    background-color: transparent;
    border-radius: 50px !important;
    line-height: 25px;
    margin: auto;
    &.dark {
      color: #fac721ef;
    }
  }
  .navUser {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    margin: auto 5px;
    .img-user {
      border-radius: 50%;
      width: 35px;
      margin-right: 7px;
    }
    h4 {
      color: $color_navbar;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 0px;
    }
    p {
      font-size: 13px;
      color: $color_navbar;
    }
  }
  .btn {
    background-color: transparent;
    border-color: transparent;
    margin: auto 0px;
    /*     pointer-events:none;
 */
    :hover {
      background-color: $color_yellow;
    }
    svg {
      font-size: 21px;
      color: #4c4c4c;
    }
    .badge {
      top: -7px !important;
      left: -6px !important;
      border-radius: 20px !important;
    }
  }
  .navSesion {
    display: flex;
    align-items: center;
    margin: auto 50px auto 4px;
    color: $color_navbar !important;
    p {
      margin-bottom: 0px;
      font-size: 12.9px;
    }
  }
}

.ButtonHeader {
  z-index: 2;
  border-radius: 20px;
  margin: 10px 35px 10px 0px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: $color_green;
  border: 1px;
  width: 120px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;

  &:hover {
    opacity: 0.6;
    transition: all 0.3s;
  }
}

.show {
  background-color: $color_yellow;
  z-index: 3;
  .ButtonHeader {
    width: 180px;
  }
}
@media (max-width: 480px) {
  .navbar .logo-link {
    margin-left: 16px;
}
}

// .ButtonContainer {
//   margin-right: 5%;
//   li {
//     display: inline-block;
//     &:first-child {
//       a {
//         margin-right: 2vw;
//       }
//     }
//     &:last-child {
//       a {
//         margin-left: 2vw;
//       }
//     }
//   }
// }
